<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsultasInteligentes.Properties.Settings.ruta" connectionString="Dsn=bdbancos;uid=root"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>