<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MantenimientoBancosExternos.Properties.Settings.ConnectionString"
            connectionString="Dsn=colchoneria;uid=isbancos;pwd=isbancos"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>