<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Manttenimiento_Moneda.Properties.Settings.bdbancosConnectionString"
            connectionString="Dsn=colchoneria;database=bdbancos;option=0;port=3306;server=35.232.238.87;uid=isbancos"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>